.hidden{
            display:none;
}

.character-selection{
            text-align:center;
            margin-top: 20px;
}

.character-button{
            border: none;
            cursor: pointer;
            margin: O 10px;
}
